*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid red; */
}

body,
html {
    height: auto;
}

/* html {
    color-scheme: light dark;
} */

body {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: linear-gradient(-45deg, #334857, #000028, #173F73);
}

.content {
    flex: 1 0 auto;
}

section {
    margin: 0;
    padding: 0;
    padding-block: 5rem;
    min-width: 100%;
    min-height: 100vh;
    margin-bottom: 150px;
    transition: all 1s;

}

.home-content {
    position: relative;
    padding: 1vh;

}

.home-content::after {
    content: '';
    background-image: linear-gradient(135deg, rgb(23, 63, 115) 0 70%, rgb(169, 198, 217) 150% 100%);
    position: absolute;
    inset: 0;
    transform: skewY(-10deg);
    z-index: -1;
}

.home-content::before {
    content: '';
    background-image: linear-gradient(135deg, #334857, #000000, #173F73);
    position: absolute;
    inset: 0;
    transform: skewY(10deg);
    z-index: -1;
}


.home-content p {
    text-align: justify;
}

.footer {
    flex-shrink: 0;
    background-image: linear-gradient(135deg, #334857, #000000, #173F73);
    text-align: center;
    margin: 0;
}

.footer-socials {
    font-size: 1.7em;
}

.footer-socials a {
    color: white;
}

.navbar {
    background-image: linear-gradient(135deg, #334857, #000000, #173F73);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
}

.btnTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 81px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: rgb(23, 63, 115);
    text-decoration: none;
    z-index: 999;
}

.btnTop::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}

.btnTop:hover::after {
    margin-top: -8px;
}


.contact input {
    background-color: rgb(0, 0, 0, 0);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border-color: white;
}

.contact input:focus {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: none;
}

#landing a:hover {
    background-color: rgb(17, 41, 73);
}

#contact button:hover {
    background-color: rgb(23, 63, 115);
}

#landing hr {
    width: 80%;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    section {
        scroll-margin-top: 225px;
    }
}